body,h1,h2,h3,h4,h5,h6,table,p,form,input,textarea,ol,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 微软雅黑;
}
/*去除浏览器自带格式*/

a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color:#00c1de;
}