*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #E9EAED;
    font-family: 宋体 sans-serif;
    font-size: 15px;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
/*header*/
.header{
    width: 100%;
    height:60px;
    background: black;
}
.headerbox{
    width: 1200px;
    height:100%;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
}
.headerbox h1{
    height: 100%;
    float:left;
    margin-right: 75px;
    color: #fffbfd;
}
.headerbox .nav{
    height:100%;
    float:left;
}
.nav li{
    float: left;
    margin-right: 35px;
}
.nav a{
    color: #fffbfd;
    text-decoration: none;
}
.nav li a:hover{
    color: #6f6edd;
}
.headerbox .search{
    width: 50px;
    height: 100%;
    background: #f684ff;
    float:right;
}
/*banner*/
.banner{
    width: 1200px;
    height: 280px;
    background: #E9EAED;
    margin:20px auto;
}
.bannerleft{
    width: 620px;
    height: 100%;
    float: left;
    position: relative;
}
.bannerleft .bannerimg{
    width: 100%;
    height: 100%;

}
.bannerimg li{
    width: 620px;
    height: 280px;
    position: absolute;
    top: 0;
    left: 0;
}
.bannerimg li a{
     width: 100%;
     height: 100%;
 }
.leftbtn , .rightbtn{
    width: 40px;
    height: 32px;

    position: absolute;
    top: 114px;
}
.leftbtn{
    left: 50px;
}
.rightbtn{
    right: 50px;
}
.btnlist{
    width: 96px;
    height: 10px;
    position: absolute;
    bottom: 36px;
    left: 50%;
    margin-left: -48px;
}
.btnlist > li{
    width: 10px;
    height: 10px;
    margin-right: 14px;
    float: left;
    border-radius: 50%;
    background: #ffffff;
}
.bannermid{
    width:268px;
    height: 100%;
    background: #E9EAED;
    margin-left: 12px;
    float:left;
}
.bannermid li{
    width: 100%;
    height:130px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.bannermid li a img{
    transition: transform 0.15s linear;
}
.bannermid li a:hover img{
    transform:scale(1.25,1.25);
}
.banner li span{
    color: #FFF;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    padding: 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 24px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}
.bannerright{
    width:284px;
    height: 100%;
    background: #ff150c;
    float: right;
    font-size: 16px;
}
.bannerright{

}
/*dairy*/
.dairy{
    width:1200px;
    height: 310px;
    margin:20px auto;
}
.dairy .dairyleft{
    width:860px;
    height: 290px;
    float: left;
    background-color: #fffbfd;
    border-radius: 5px;
    padding: 10px;
}
.dairyleft .dairylist{
    border-bottom: 1px solid #080407;
    overflow: hidden;
    padding:10px;
}
.dairylist li{
    float: left;
    margin-right: 25px;
}
.dairyleft .dairytab{
    width: 100%;
    height: 220px;
    background: #fffbfd;
    margin-top: 10px;
}
.dairyleft .dairytab .tabimage{
    width: 275px;
    height: 220px;
    float:left;
}
.dairyleft .dairytab .tabimage li{
    width: 275px;
    height: 100px;
    background: #000;
    margin-bottom: 10px;
    position:relative;
    overflow: hidden;
}
.tabimage li a img{
    transition: transform 0.15s linear;
}
.tabimage li a:hover img{
    transform: scale(1.3,1.3);
}
.tabimage li span{
    color: #FFF;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    padding: 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 24px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}
.tabtext li{
    width: 518px;
    height:auto;
    background: rgba(0, 0, 0, 0.6);
    float: right;
    padding: 0 30px 0 20px;
    position: relative;
}
.tabtext li h1 a{
    font-size: 16px;
    color: #9a9a9a;
    text-decoration: none;
    margin-left: 40px;

}
.tabtext >li >p{
    font-size: 16px;
    line-height:1.5;
    height: 48px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    display: none;
    padding:5px;
    overflow: hidden;
}
.tabtext li:hover son{
    transform: scale(1.3,1.3);

}
.tabtext li::before{
    content:'1';
    width: 20px;
    height: 20px;
    margin-right: 20px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    background: #ff5064;
    position: absolute;
    top: 14px;
}
.tabtext li:nth-child(2)::before{
    content: '2';
}
.tabtext li:nth-child(3)::before{
    content: '3';
}
.tabtext li:nth-child(4)::before{
    content: '4';
}
.tabtext li:nth-child(5)::before {
    content: '5';
}
.tabtext li:hover{

}
.slide{
    width: 284px;
    background: #fffbfd;
    float:right;
    border-radius: 5px;
    padding: 10px;
}
.title{
    height: 41px;
    width: 100%;
    border-bottom: 1px solid grey;
    line-height: 41px;
    color: #333333;
    position: relative;
}
.title::before{
    content: "";
    height: 2px;
    width: 120px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #000;
    transition: all .15s ease-in;
}
.title:hover::before{
    height: 2px;
    width: 160px;
}
.slide .updatelist{
    padding-top: 16px;
   padding-bottom:32px ;
}
.updatelist li{
    height:38px;
    margin-top:12px;
    background: #bef5d2;
    position: relative;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 38px;
    text-decoration: none;
    padding-left: 34px;
}
.updatelist li::before{
    content:'';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background:black;
    position: absolute;
    left: 15px;
    bottom: 17px;
    display: block;
}
.updatelist li a{
    text-decoration: none;
}
/*main*/
.main{
    width: 1200px;
    height: auto;
    margin:0 auto;
}
.main .mainleft{
    width: 880px;
    height: auto;
    min-height: 600px;
    padding:10px 0;
    border-radius: 5px;
    float: left;
}
.mainleft .tuijian{
    background: #fffbfd;
}
.mainleft .recommend{
    padding: 20px 10px;
}
.recommend .recommendtegory{
    float: right;
}
.recommend .recommendtegory >li{
    color: #e4e3e3;
    float: left;
    font-weight: normal;
    margin-left: 15px;
    font-size: 18px;
}
.recommendtegory > li > a{
    text-decoration: none;
}
.recommendlist{
     padding: 20px 10px;
     overflow: hidden;
    position: relative;
 }
.recommendlist li{
    height: 287px;
    width: 239px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    float:left;
    padding: 0 20px;
    transition: all .5s ease;
}
.recommendlist::before{
    content: '';
    height: 576px;
    width: 1px;
    background: #ffffff;
    position: absolute;
    right: 10px;
    top: 20px;
}
.recommendlist::after{
    content: '';
    height: 1px;
    width: 854px;
    background: #ffffff;
    position: absolute;
    left: 10px;
    bottom: 20px;
}
.recommendlist .recommendthumb{
    display: block;
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
.recommendlist > a{
    width:100%;
    height: 100px;
    display: block;
}
.recommendlist b{
    display: block;
    width: 100%;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.recommendlist p{
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    font-size: 14px;
    height: 64px;
    display: block;
    margin-bottom: 10px;
}
.recommendlist .recommendread{
    color: #096;
    display: block;
    text-decoration: none;
    margin-top: 20px;
}
.recommendlist .recommendread::before{
     content:" + ";
}
.main .mainright{
    width: 284px;
    height: auto;
    min-height: 500px;
    border-radius: 5px;
    padding: 10px;
    float: right;
}
.mainright .paihang{
    width: 264px;
    padding: 0 10px;
    background: #FFFFFF;
}
.mainright .mainimage{
    width: 100%;
    height: 130px;
    margin-top: 10px;
    background: black;
    overflow: hidden;
    position: relative;
}
.mainimage li{
    width:100%;
    height:100%;
}
.mainimage li a{
    width:100%;
    height:100%;
}
.mainimage li a img{
    transition: transform 0.15s linear;
}
.mainimage li a:hover img{
    transform:scale(1.25,1.25);
}
.mainimage li a span{
    color: #FFF;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    padding: 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 24px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}
.mainright .mainline li{
    height:38px;
    margin-top:12px;
    line-height: 38px;
    padding-left: 34px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.mainline li::before{
    content:'1';
    width: 16px;
    height: 16px;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    background:#FF6600;
    position: absolute;
    left: 9px;
    bottom: 8px;
}
.mainline li:nth-child(2)::before{
    content: '2';
    background:#FF6600 ;
}
.mainline li:nth-child(3)::before{
    content: '3';
    background:#FF6600 ;
}
.mainline li:nth-child(4)::before{
    content: '4';
     background:#b1b1b1 ;
 }
.mainline li:nth-child(5)::before{
    content: '5';
      background:#b1b1b1 ;
  }
.mainline li:nth-child(6)::before{
    content: '6';
    background:#b1b1b1 ;
}
.mainline li:nth-child(7)::before{
    content: '7';
    background:#b1b1b1 ;
}

/*bowen*/
.bowen {
    width: 860px;
    height: auto;
    padding: 10px 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    background:#fffbfd;
    float: left;
}
.bowenfirst{
    width: 850px;
    height: auto;
    background: #fffbfd;
    padding:10px;
    float: left;
    overflow: hidden;
}
.bowenfirst b{
    color: #ff0f09;
    font-size: 18px;
}
.bowenfirst a{
    font-size: 18px;
    color:#000000;
    text-decoration: none;
}
.bowenfirst a:hover{
    color:blue;
}
.bowentext {
    width: 850px;
    height:210px;
}
.bowentext .bowenimage{
    width: 200px;
    height: 125px;
    margin: 20px;
    float:left;
    position: relative;
    overflow: hidden;
}
.bowenimage a img{
    transition: transform .15s linear;
}
.bowenimage a:hover img {
    transform: scale(1.3,1.3);
}
.bowenimage a span{
    width: 84px;
    height: 30px;
    color: #ffffff;
    background: #12b7de;
    float: right;
    margin-right: 30px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 0;
}
.bowentext .bowenword{
    width: 600px;
    height: 134px;
    float: right;
    margin-top: 10px;
}
.bowentext .bowenword  .bowennote p{
    width: 100%;
    height: 72px;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    margin-top: 20px;
}
.bowentext .rightbottom{
    width: 640px;
    height: 34px;
    display: inline-block;
}
.rightbottom .touxiang{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    overflow: hidden;
}
.rightbottom .date{
    margin-left: 5px;
    margin-top: 10px;
    float: left;
    bottom: 0;
}
.rightbottom .sheji a{
    margin-top: 10px;
    margin-left: 5px;
    text-decoration: none;
    float: left;
}
.bowenword .rightbottom .reading a{
    width: 84px;
    height: 30px;
    color: #ffffff;
    background: #12b7de;
    float: right;
    margin-right: 30px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}
/*zhanzhangtuijian*/
.main .subject{
    width: 264px;
    height: auto;
    background: #FFFFFF;
    min-height: 500px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    float: right;
}
.subject .subjectimage{
    width: 100%;
    height: 130px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}
.subjectimage li{
    width: 100%;
    height: 100%;
}
.subjectimage li a{
    width: 100%;
    height: 100%;
}
.subjectimage li a img{
    transition: transform 0.15s linear;
}
.subjectimage li a:hover img{
    transform:scale(1.25,1.25);
}
.subjectimage li a span{
    color: #FFF;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    padding: 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 24px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}
.subject .subjectline li{
    width: 100%;
    height: 60px;
    margin-top: 10px;
}
.subjectline li a{
    width: 70px;
    height: 60px;
    float: left;
}
.subjectline span{
    width:162px;
    height: 40px;
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 14px;
    cursor: pointer;
}